/* ========== HERO SECTION ========== */

#hero {
  background-image: url(../assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 80px;
  width: 680px;
}

.hero__greeting {
  color: var(--gray-200);
  font: var(--subtitle);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  color: var(--gray-100);
  font: var(--title-lg);
}

.hero__description {
  color: var(--gray-300);
  font: var(--text-sm);
}
