/* ========== PROJECTS SECTION ========== */

#projects {
  background-color: var(--gray-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16px;
}

.projects__grid {
  width: 1040px;
}

.project-card {
  background-color: var(--gray-400);
  border-radius: 12px;
  overflow: hidden;
  padding: 17px 12px;
  border: 1.5px solid transparent;
  transition: border-color 0.3s ease;
}

.project-card:hover {
  border-color: var(--gray-300);
}

.project-card__image {
  width: 306px;
  border-radius: 8px;
}

.project-card__content {
  margin-top: 20px;
}

.project-card__title {
  font: var(--title-sm);
  color: var(--gray-100);
  margin-bottom: 8px;
}

.project-card__description {
  font: var(--text-sm);
  color: var(--gray-200);
}
