/* ========== SERVICES SECTION ========== */

#services {
  background-color: var(--gray-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 16px;
}

.services__list {
  margin-bottom: 40px;
}

.service__card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--gray-500);
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
  max-width: 280px;
}

.service__card i {
  font-size: 48px;
}

.service__card:nth-child(1) i {
  color: var(--purple);
}

.service__card:nth-child(2) i {
  color: var(--yellow);
}

.service__card:nth-child(3) i {
  color: var(--green);
}

.service__text {
  font: var(--text-sm);
  color: var(--gray-200);
}

.service__text h3 {
  font: var(--title-sm);
  color: var(--gray-100);
  margin-bottom: 8px;
}
