/* ========== UTILITIES ========== */

.accent {
  color: var(--red);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 80px;
}

.section-subtitle {
  font: var(--subtitle);
  color: var(--red);
}

.section-title {
  font: var(--title-md);
  color: var(--gray-100);
}

.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
}
