/* ========== CSS VARIABLES ========== */

:root {
  /* Cores - Principal */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  /* Cores - Base */
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  /* Fontes */
  --asap: 'Asap', sans-serif;
  --inconsolata: 'Inconsolata', monospace;
  --maven-pro: 'Maven Pro', sans-serif;

  /* Tipografia - Title Large */
  --title-lg: bold 56px / 120% var(--asap);

  /* Tipografia - Title Medium */
  --title-md: bold 24px / 120% var(--asap);

  /* Tipografia - Title Small */
  --title-sm: bold 16px / 120% var(--maven-pro);

  /* Tipografia - Subtitle */
  --subtitle: 400 20px / 120% var(--inconsolata);

  /* Tipografia - Text Medium */
  --text-md: 400 16px / 140% var(--maven-pro);

  /* Tipografia - Text Small */
  --text-sm: 400 14px / 140% var(--maven-pro);
}
