* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Cores - Principal */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  /* Cores - Base */
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  /* Fontes */
  --asap: 'Asap', sans-serif;
  --inconsolata: 'Inconsolata', monospace;
  --maven-pro: 'Maven Pro', sans-serif;

  /* Tipografia - Title Large */
  --title-lg: bold 56px / 120% var(--asap);

  /* Tipografia - Title Medium */
  --title-md: bold 24px / 120% var(--asap);

  /* Tipografia - Title Small */
  --title-sm: bold 16px / 120% var(--maven-pro);

  /* Tipografia - Subtitle */
  --subtitle: 400 20px / 120% var(--inconsolata);

  /* Tipografia - Text Medium */
  --text-md: 400 16px / 140% var(--maven-pro);

  /* Tipografia - Text Small */
  --text-sm: 400 14px / 140% var(--maven-pro);
}

body {
  background: url(./assets/Background_Intro.png) no-repeat;
  background-size: cover;
  color: var(--gray-100);
  font-family: var(--maven-pro);
}

/* ========== UTILITIES ========== */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ========== INTRO SECTION ========== */
#intro {
  background-image: url(./assets/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 120px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 80px;
  width: 680px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;

  & p span {
    color: var(--red);
  }
}

/* ========== AVATAR SECTION ========== */
#avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  position: relative;
  margin-bottom: 56px;
}

#profile {
  width: 98px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid var(--red);
}

#code {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

/* ========== TYPOGRAPHY ========== */
#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--gray-200);
  font: var(--subtitle);
}

h1 {
  color: var(--gray-100);
  font: var(--title-lg);
}

#description {
  color: var(--gray-300);
  font: var(--text-sm);
}

/* ========== TAGS SECTION ========== */
#tags {
  display: flex;
  gap: 16px;
  margin-bottom: 94px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 8px;
  height: 40px;
  border-radius: 999px;
  color: var(--gray-200);
  background-color: var(--gray-400);
  font: var(--text-md);
}

.tag img {
  width: 24px;
}
